* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center; /* Центрирование элементов */
    align-items: center;
    height: 100px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 80px; /* Увеличенное расстояние между кнопками */
    align-items: center;
    margin-left: 50px; /* Смещение меню ближе к центру */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 24px; /* Увеличенный размер шрифта для меню */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

/* Стили для контейнера звонка */
.call-container {
    position: absolute;
    left: 20%; /* Позиционирование ближе к центру, с левой стороны */
    background-color: #87CEEB; /* Голубой цвет фона */
    border-radius: 8px;
    padding: 10px;
}

/* Стили для кнопки звонка */
.call-button {
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 24px; /* Увеличенный текст звонка */
    text-decoration: none;
    display: block;
}

.call-button:hover {
    background-color: #0056b3;
}

/* Стили для полноэкранного слайдера */
.slider {
    width: 100%;
    height: 100vh; /* Высота слайдера на весь экран */
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%; /* Высота слайдов на весь экран */
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    height: 100%; /* Изображения растягиваются на весь экран */
    object-fit: cover; /* Картинки сохраняют пропорции */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Стили для статичного текста */
.static-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.static-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.static-text p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

/* Стили для блока с текстом на белом фоне */
.info {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center; /* Центрирование текста */
}

.info p {
    font-size: 20px;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
}
